@{
    ViewBag.Current = "Home";
}

<div class="jumbotron">
    <h1>ASP.NET Graph Tutorial</h1>
    <h4>Access Token</h4>
    <p>@ViewBag.AccessToken</p>
    <button onclick="getUsers()">Get user skills</button>
    <div id="Result"></div>
</div>
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/jquery-3.3.1.js"></script>
<script>
    function getUsers() {
        var usersUri = "https://graph.microsoft.com/v1.0/users/{user_id}/skills";
        var token = '@ViewBag.AccessToken';
        $.ajax({
            url: usersUri,
            headers: { 'authorization': 'bearer ' + token }
        }).done(function (data) {
            $("#Result").text(JSON.stringify(data));
        });
    }
</script>
